body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* text-align: center;
  font-family: sans-serif;
  color: blue; */
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 500px;
}

.carousel {
  position: fixed;
  width: calc(var(--width));
  height: calc(var(--width));
  top: -100%;
  right: -100%;
  left: -100%;
  bottom: -100%;
  margin: auto;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}

.carousel_face {
  position: absolute;
  width: calc(var(--width));
  height: calc(var(--width));
  background-size: cover;
}

@media screen and (orientation: portrait) {

  html {
    --width: 22vw;
    --radius: calc(var(--width)*1.4);
  }

  .carousel_face:nth-child(1) {
    transform: rotateX(0deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(2) {
    transform: rotateX(40deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(3) {
    transform: rotateX(80deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(4) {
    transform: rotateX(120deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(5) {
    transform: rotateX(160deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(6) {
    transform: rotateX(200deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(7) {
    transform: rotateX(240deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(8) {
    transform: rotateX(280deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(9) {
    transform: rotateX(320deg) translateZ(calc(var(--radius)));
  }

  @keyframes rotate360 {
    from {
      transform: rotateX(0deg);
    }

    to {
      transform: rotateX(-360deg);
    }
  }

}

@media screen and (orientation: landscape) {

  html {
    --width: 22vh;
    --radius: calc(var(--width)*1.4);
  }

  .carousel_face:nth-child(1) {
    transform: rotateY(0deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(2) {
    transform: rotateY(40deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(3) {
    transform: rotateY(80deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(4) {
    transform: rotateY(120deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(5) {
    transform: rotateY(160deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(6) {
    transform: rotateY(200deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(7) {
    transform: rotateY(240deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(8) {
    transform: rotateY(280deg) translateZ(calc(var(--radius)));
  }

  .carousel_face:nth-child(9) {
    transform: rotateY(320deg) translateZ(calc(var(--radius)));
  }

  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(-360deg);
    }
  }

}